@media screen and (max-width: 1700px)
    header
        .title
            font-size: 36px
    .main
        &__add-photo
            width: 100%
            min-height: 400px
        &__exPhoto
            .exemples
                &__photo
                    width: 270px
                    height: 154px
                    margin: 0 20px
        &__description
            width: 100%
        .img_400x200
            width: 400px
            height: 200px
@media screen and ( max-width: 1400px )
    .main
        &__exPhoto
            .exemples
                &__photo
                    width: 228px
                    height: 130px
@media screen and (max-width: 1200px)
    .main
        padding-top: 20px
        &__buttons
            flex-direction: column
            height: 250px
@media screen and (max-width: 992px)
    .main
        &__add-photo
            min-height: 350px
            margin: 0 auto
        &__description
            margin: 0 auto
            margin-top: 20px
            width: 500px
            padding-bottom: 50px
        &__buttons
            flex-direction: row
            height: auto
            padding-bottom: 50px
@media screen and (max-width: 768px)
    .logo
        margin: 0 auto
        display: block
    .main
        &__exPhoto
            .exemples
                &__photo
                    height: 88px
        .img_400x200
            width: 250px 
            height: 125px  
@media screen and ( max-width: 576px )
    .container
        width: 300px
    header
        .title
            font-size: 32px
    .main
        min-height: 700px
        &__exPhoto
            .exemples
                &__photo
                    margin: 0 12px
                    height: 36px
                    width: 75
    .title
        margin: 0 auto
        text-align: center
    .main
        &__add-photo
            width: 300px
            min-height: 160px
            margin-left: -8px
        &__description
            margin: 0 auto
            margin-top: 20px
            width: 300px
            padding-bottom: 50px

     



        

    