<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/bootstrap-grid.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/animate.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel=".apple-touch-icon" sizes="180x180" href="../static/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/icons/favicon-16x16.png">
    <link rel="manifest" href="../static/images/icons/site.webmanifest">
    <link rel="mask-icon" href="../static/images/icons" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">



    <title>
        Распознавание образа огнестрельного оружия
    </title>
</head>
<body>
    <header>
        <div class="container">
            <div class="header__logo row">
                <div class="col-md-2">
                    <img src="../static/images/Logo.png" alt="Логотип" class="logo">
                </div>
                <div class="col-md-9 offset-md-1">
                    <h1 class="title">РАСПОЗНАВАНИЕ ОБРАЗА ОГНЕСТРЕЛЬНОГО ОРУЖИЯ
                    </h1>
                </div>
                <div class="header__download animation"></div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="main__exPhoto row">
            <div class="title col-xl">Примеры фото:</div>
            <div class="exemples col-xl-8">
                <div class="exemples__photo"><img src="../static/images/ex1.png" alt="Exemple1"></div>
                <div class="exemples__photo"><img src="../static/images/ex2.jpg" alt="Exemple2"></div>
                <div class="exemples__photo"><img src="../static/images/ex3.jpg" alt="Exemple3"></div>
            </div>
        </div>
        <div class="container main">
            
            <div class="row output animate__animated">
                <div class="col-md-12">
                    <div class="main__back">
                        <button class="btn" id="backBtn">Выбрать новое изображение</button>
                        <div class="img_400x200"></div>
                    </div>
                    <div id="count"></div>
                    <div id="counter-strings"><span></span></div>
                </div>
            </div>
            <div class="row startPage animate__animated">
                <div class="col-lg-7">
                    <div class="main__add-photo animate__animated" id="imageUploader"><div><span>+</span><br>
                        Загрузить изображение</div></div>
                    <input type="file" id="fileInput" style="display: none;" accept="image/*">
                </div>
                <div class="col-lg-5">
                    <div class="main__description animate__animated" id="typed"></div>
                    <div id="typed-strings">
                        <span>Нейросеть определяет наличие огнестрельного оружия у людей на фото</span>
                    </div>
                    <div class="main__buttons animate__animated">
                        <button class="btn" onclick="sendImageToBackend()">Отправить изображение</button>
                        <button id="newImg_button" class="btn main__btn">Выбрать другое</button>
                    </div>
                </div> 
            </div>
            
        </div>
    </div>
    
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/typed.umd.js"></script>
    <script src="../static/js/wow.min.js"></script>
    <script src="../static/js/jszip.js"></script>
    <script src="../static/js/script.js"></script>
    <script>
        new WOW().init();
    </script>

</body>
</html>